/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #292C30;
  font-family: "Ubuntu", sans-serif; }

#logo {
  padding: 20px; }
  #logo .title {
    font-size: 50px;
    color: #DDD; }
    #logo .title span {
      color: #92DB00; }
  #logo .subtitle {
    font-size: 11px;
    color: #999; }

#top {
  display: block;
  width: 100%; }
  #top .top-inner {
    padding: 20px; }
  #top .resolution-wrapper {
    display: table-cell;
    box-sizing: border-box;
    padding: 0 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    color: #666;
    border-radius: 3px;
    background: #D5DAE0; }
    #top .resolution-wrapper #resolution {
      font-size: 30px;
      color: #292C30; }
  #top .palette-wrapper {
    display: table-cell;
    width: 100%;
    padding: 0 0 0 40px;
    box-sizing: border-box; }
    #top .palette-wrapper .deeboo-palette-color {
      display: inline-block;
      box-sizing: border-box;
      height: 50px;
      width: 12.5%;
      border-radius: 5px;
      border-left: 3px solid #292C30;
      border-top: 3px solid #292C30;
      border-bottom: 3px solid #292C30;
      border-right: 3px solid #292C30; }
      #top .palette-wrapper .deeboo-palette-color.selected {
        border-color: #AAA; }

#bottom {
  display: block;
  width: 100%; }

#output {
  min-height: 50px;
  margin: 20px;
  padding: 5px;
  background: #D5DAE0;
  border-radius: 3px;
  color: #666;
  font-size: 10px; }

#middle {
  display: block;
  width: 100%; }
  #middle .middle-inner {
    padding: 3px;
    margin: 20px;
    border-radius: 3px;
    background-color: #D5DAE0; }

#labels {
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #92DB00;
  line-height: 20px; }
  #labels .beat-marker {
    display: table-cell;
    font-size: 12px;
    color: #7CBA00; }

#sequence .deeboo-sequence-tick {
  display: inline-block;
  box-sizing: border-box;
  height: 70px;
  width: 0.78125%; }
  #sequence .deeboo-sequence-tick .leftLed, #sequence .deeboo-sequence-tick .rightLed, #sequence .deeboo-sequence-tick .strip {
    width: 100%;
    background-color: #333;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555; }
  #sequence .deeboo-sequence-tick .leftLed, #sequence .deeboo-sequence-tick .rightLed {
    height: 30%; }
  #sequence .deeboo-sequence-tick .strip {
    height: 40%; }
  #sequence .deeboo-sequence-tick.beat {
    border-left: 1px solid #999; }
  #sequence .deeboo-sequence-tick.phrase {
    border-left: 2px solid #92DB00; }

/*# sourceMappingURL=main.css.map */
