@import 'reset.scss';
@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);

$font: 'Ubuntu', sans-serif;

$color1: #292C30;
$color2: #D5DAE0;
$color3: #92DB00;

$body-background-color: $color1;
$default-border-radius: 3px;

$resolution-background: $color2;

$palette-number-of-elements: 8;
$palette-background: $body-background-color;
$palette-border: 3px solid $palette-background;
$palette-border-radius: 5px;
$palette-selected-border-color: #AAA;
$palette-color-item-width: percentage(1/$palette-number-of-elements);
$palette-color-item-height: 50px;

$middle-background: $color2;
$output-background: $color2;
$output-text-color: #666;

$sequence-number-of-elements: 32*4;
$sequence-item-width: percentage(1/$sequence-number-of-elements);
$sequence-item-height: 70px;
$sequence-item-beat-marker-border: 1px solid #AAA;
$sequence-labels-color: #92DB00;

body {
    background: $body-background-color;
    font-family: $font;

}

#logo {
    padding: 20px;
    .title {
        font-size: 50px;
        color: #DDD;
        span {
            color: $color3;
        }
    }

    .subtitle {
        font-size: 11px;
        color: #999;
    }
}

#top {
    display: block;
    width: 100%;

    .top-inner {
        padding: 20px;

    }
    .resolution-wrapper {
        display: table-cell;
        box-sizing: border-box;
        padding: 0 10px;
        vertical-align: middle;
        text-align: center;
        font-size: 10px;
        color: #666;

        border-radius: $default-border-radius;
        background: $resolution-background;

        #resolution {
            font-size: 30px;
            color: $color1;
        }
    }

    .palette-wrapper {
        display: table-cell;
        width: 100%;
        padding: 0 0 0 40px;
        box-sizing: border-box;

        .deeboo-palette-color {
            display: inline-block;
            box-sizing: border-box;
            height: $palette-color-item-height;
            width: $palette-color-item-width;
            border-radius: $palette-border-radius;
            border-left: $palette-border;
            border-top: $palette-border;
            border-bottom: $palette-border;
            border-right: $palette-border;

            &.selected {
                border-color: $palette-selected-border-color;
            }
        }
    }
}

#bottom {
    display: block;
    width: 100%;
}

#output {

    min-height: 50px;
    margin: 20px;
    padding: 5px;
    background: $output-background;
    border-radius: $default-border-radius;
    color: $output-text-color;
    font-size: 10px;
}

#middle {
    display: block;
    width: 100%;

    .middle-inner {
        padding: 3px;
        margin: 20px;
        border-radius: $default-border-radius;
        background-color: $middle-background;
    }
}

#labels {
    display: table;
    table-layout: fixed;
    width: 100%;
    color: $sequence-labels-color;
    line-height: 20px;

    .beat-marker {
        display: table-cell;
        font-size: 12px;
        color: #7CBA00;
    }
}

#sequence {


    .deeboo-sequence-tick {
        display: inline-block;
        box-sizing: border-box;
        height: $sequence-item-height;
        width: $sequence-item-width;

        .leftLed, .rightLed, .strip {
            width: 100%;
            background-color: #333;
            border-left: 1px solid #555;
            border-bottom: 1px solid #555;
            //box-sizing: border-box;
        }

        .leftLed, .rightLed {
            height: 30%;
        }

        .strip {
            height: 40%;
        }

        &.beat {
            border-left: 1px solid #999;
        }

        &.phrase {
            border-left: 2px solid #92DB00;
        }
    }
}
